<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="dynamic(main)">
<head>
<meta charset="utf-8">
<title>Java 6 Project</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link href="/assets/css/shopping-cart-app.css" rel="stylesheet">
<link href="/assets/css/style.css" rel="stylesheet">
</head>
<body class="container" ng-app="shopping-cart-app"
	ng-controller="shopping-cart-ctrl">
	<nav class="row">
		<div class="col-lg-2 col-md-2 col-sm-3 col-xs-5">
			<div class="logo">
				<a th:href="@{/}"><img src="templates/image/4.png"></a>
			</div>
		</div>
		<div th:replace="/layout/_menu.html"></div>
	</nav>
	<div class="row">
		<article class="col-sm-9">
			<div th:replace="${main}"></div>
		</article>
		<aside class="col-sm-3">
			<div th:replace="/layout/_cart-info.html"></div>
			<div th:replace="/layout/_category.html"></div>
		</aside>
	</div>
	<footer class="row">
		<div class="panel panel-default">
			<div class="panel-body text-center">
				<h4>FPT Polytechnic &copy; 2023. All rights reserved</h4>
			</div>
		</div>
	</footer>
	<script src="/assets/js/shoppinng-cart-app.js"></script>
</body>
</html>