<div class="panel panel-default" ng-if="items">
	<div class="panel-heading">DANH MỤC LIST</div>
	<table class="table table-condensed">
		<thead class="bg-success" style="font-variant: small-caps;">
			<tr>
				<th>MaGV</th>
				<th>TenGV</th>
				<th>Dia chi</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="gv in pager.items">
				<td>{{gv.maGV}}</td>
				<td>{{gv.tenGV}}</td>
				<td>{{gv.diaci}}</td>
				<td>
					<div class="btn-group btn-group-xs">
						<a ng-click="edit(gv)" href="" class="btn btn-warning">
							<b class="glyphicon glyphicon-edit"></b>
						</a>
						<a ng-click="delete(gv)" href="" class="btn btn-danger">
							<b class="glyphicon glyphicon-trash"></b>
						</a>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="panel-footer text-center">
		<button ng-click="pager.first()" class="btn btn-danger">
			<b class="glyphicon glyphicon-hand-up"></b>
		</button>
		<button ng-click="pager.prev()" class="btn btn-primary">
			<b class="glyphicon glyphicon-hand-left"></b>
		</button>
		<button class="btn btn-success">
			{{pager.page + 1}} of {{pager.count}}
		</button>
		<button ng-click="pager.next()" class="btn btn-primary">
			<b class="glyphicon glyphicon-hand-right"></b>
		</button>
		<button ng-click="pager.last()" class="btn btn-danger">
			<b class="glyphicon glyphicon-hand-down"></b>
		</button>
	</div>
  </div>